@import "tailwindcss";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #8C0C43;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quiz-box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #111;
  color: yellow;
  z-index: 9999;
  padding: 20px;
  border-radius: 10px;
}
.quiz-box button {
  margin: 5px;
  background-color: #3b82f6;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}
.quiz-box button:hover {
  background-color: #2563eb;
}
.score-info {
  margin-top: 10px;
  font-size: 14px;
  color: black;
}
